<div class="main-contact-div">
  <div class="col-md-4 img-contact">
    <img
      src="../../../assets/images/pexels-mister-mister-3490348.jpg"
      class="cnt"
      alt=""
    />
  </div>
  <div class="col-md-8 form-div">
    <div class="main-form">
      <div class="form">
        <h3>Contact</h3>
        <hr />
        <form
          action="https://formsubmit.co/veljkocosicc@gmail.com"
          method="POST"
        >
          <input
            type="text"
            name="full_name"
            id="fulln"
            class="form-control"
            placeholder="Your full name..."
            required
          />
          <input
            type="email"
            name="mail"
            id="mail"
            required
            class="form-control"
            placeholder="Your email..."
          />
          <input
            required
            type="text"
            placeholder="Your phone number..."
            class="form-control"
            name="num"
          />
          <textarea
            required
            id="txtarea"
            class="form-control"
            placeholder="Your message..."
          ></textarea>
          <input type="submit" value="Submit" class="sub" />
        </form>
      </div>
    </div>
  </div>
</div>
