<div class="main-home-div">
  <div class="main-picture-div">
    <button><a routerLink="/trainer">Pronadi trenera</a></button>
  </div>
</div>
<div class="container three-divs">
  <div class="flex">
    <div class="col-md-4 home-1">
      <img
        class="mom"
        src="../../../assets/images/processed-7819de81-5e55-479e-a078-fae5b697a5dc_uz2e3uyg.jpeg"
        alt=""
      />
      <h3>OVDJE STE ZBOG VASEG ZELJENOG IZGLEDA</h3>
      <hr />
      <p>
        Ukoliko zelite da izgledate kao vas omiljeni sportista, ovdje mozete
        odabrati pravog mentora za vas cilj.
      </p>
    </div>
    <div class="col-md-4 home-2">
      <img
        class="mom"
        src="../../../assets/images/processed-d1df7176-8d13-46b7-b3b4-c0d285d36112_3mfY4Y9L.jpeg"
        alt=""
      />
      <h3>Odaberite vaseg trenera</h3>
      <hr />
      <p>
        Na raspolaganju vam je mnostvo trenera koji vam mogu pomoci u dostizanju
        vaseg cilja
      </p>
    </div>
    <div class="col-md-4 home-3">
      <img src="../../../assets/images/bf.PNG" class="mom" alt="" />
      <h3>Pocni da trenirate</h3>
      <hr />
      <p>Odaberite vaseg trenera i krenite sa transformacijom</p>
    </div>
  </div>
</div>
<div class="clients">
  <div class="home-text-clients">
    <h4>O nama</h4>
    <hr />
    <p>
      Nas cilj je da omogucimo ljudima da na lak nacin pronadju idealnog
      trenera, kao i da pomognemo talentovanim trenerima da razviju svoju
      karijeru u fitness svetu.
    </p>
  </div>
</div>
